* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "raidercrusader";
  src: url("../font/raider_crusader/raidercrusader.ttf") format("truetype");
  /* Jika ada format lain, tambahkan di sini */
}

/* NAVBAR */
nav header h5 span {
  font-family: "raidercrusader", sans-serif;
  font-size: 15px;
}

nav {
  widt: 1280px;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  width: 300px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 13px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
